<div class="container">
    <br>
    <br>
        <table style="text-align:center;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <td><div class="card" style="width: 20rem; height:27rem; background-color:aliceblue;">
                <div class="card-body">
                    <h3 class="card-title">مغروم بالخرجات و تلوج على programmet و إلا بلاصة تمشيلها في تونس وإلا خارج تونس ما عليك كان تسجل معنا و تختار الحاجة إلي حلات في عينك 
                        و حتى كان عندك منتوج تابع لconcept متاعنا تنجم تهبطو في المنصة مع go619 🇹🇳 الجو ما يوفاش</h3>
                    <button class="btn btn-success " (click)="loginuser()" style="width: 250px;" > User Sign Up  </button>
                </div>
            </div>   
        </td>           
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <td><div class="card" style="width: 20rem; height:27rem; background-color:aliceblue;">
                <div class="card-body">
                    <h3 class="card-title">كانك جمعية وإلى نادي أي كان مجالكم  ماعليك كان تسجل معنا و تتحفنا بجديدك و أحنا نشجعوكم و نسوقولكم خدمتكم و نخليو خدمتكم بارزة وزادة نبيعولكم مانتوجكم
                    مع go619 🇹🇳 إخدم و خلي الباقي علينا</h3>
                    <br>
                    <button class="btn btn-success " (click)="loginclub()" style="width: 250px;" > Club Sign Up  </button>

                </div>      
            </div>
        </td>
        </table>
</div>